/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15 Jan, 2015, 2:37:35 PM
    Author     : ABC
*/
 //that class is used to the main page layout
 .page
 {
     height:100vh;
     width:1590px;
 } 
.mainbar
{
    position: relative;
   width: 1590px;
   height: 120px;
   background-color:#DB0707;
   
   
 // z-index:1;
}
.nav_bar
{
    float:left;
    
    width:1590px;
    height:40px;
    background: maroon;
    //z-index: 2;
}

.nav_bar_sub{
   width:960px;
   margin:0px auto;
   //z-index: 3;
}
.nav_bar_sub_image
{
    float:left;
    width:20%;
   //z-index: 4; 
}
.nav_bar_sub_links
{
  float:left;
  width:60%;
  margin-top: 10px;
  //z-index: 4;
}

.nav_bar_sub_search
{
    float: left;
    margin-top: 10px;
    width:20%;
   // z-index:4;
}
#menu ul {
    height: auto;
    padding: 2px 0px;
    margin: 0px;
}
#menu li { 
display: inline; 
padding: 2px; 
}
#menu a {
    text-decoration: none;
    color: white;
    padding: 6px 6px 6px 6px;
}

#menu a:hover
{
    text-decoration: underline;
}
.middle_container
{
   float:left;
    width:960px;
    height:80px;
    margin-left:315px;
   // background: orange;
      
}

.news_image_date_header{
    float:left;
    width:100%;
    height:50px;
   // background:orange;
}
.image_news
{
    float:left;
    width:15%;
    height: 50px;
    margin-top: 10px;
   
   // background: orange;
}
.date
{
    float:left;
    width:75%;
    height: 50px;
    margin-top:10px;
    color:white;
}
.rss
{
    float:left;
    width:10%;
    height: 50px;
    margin-top:10px;
    //color:white;
}
.rss a:link
{
    text-decoration: none;
    font-weight: bold;
    text-decoration-color: white;
}
.rss a:hover
{
    text-decoration: underline;
}
.news_header
{
     float:left;
    width:100%;
    height:30px;
    background:#3E0C0D;
   
}
.latest_news
{ 
    width:960px;
    height:30px;
    margin-top:5px;
   // margin:0 auto;
    margin-left:315px;
    text-decoration: none;
}
.latest_news a:link
{
    margin-top:5px;
    color: #505050;  
}
.display_news
{
    width:960px;
    margin-left: 315px;
    //margin:0 auto;
   // background: blue;
    height:1090px;
}
.column1_news
{
    float:left;
   width:650px;
    height:1090px;
 //  margin:0 auto;
 
  // background:blue;
 
 
}
.column2_news
{
    float:left;
    width:310px;
    height:1090px;
   
}
.topstory_news
{
    width:98%;
    height:870px;
   // background:blue;
}
.top_news_hint a:hover
{
    text-decoration: underline;
}
.top_news_hint
{
    width:509px;
    height:30px;
    color:#4A7194;
    font-weight: bold;
   font-size: 30px;
   
}
.first_news
{
    height:220px;
    width:630px;
    border-bottom: 1px solid gray;
}
.imagefirst
{
    margin-top:5px;
    float: left;
    width:350px;
    height:220px;
}
.top_story a:link
{
    text-decoration: none;
}
.top_story a:hover
{
    text-decoration: underline;
}
.top_story
{
    float: left;
    width:250px;
    height:200px;
    list-style-type:none;
    color:#1F4F82;
    font-size:15px;
    word-spacing: 7px;
    margin-left: 5px;
   
}
.setimage
{
    float:left;
    height:150px;
    width:630px;
    margin-left:5px;
    border-bottom: 1px solid black;
    
}
.other_top_Story a:hover{
    text-decoration: underline;
}
.other_top_Story{
    width:630px;
    height:200px;
    border-bottom: 1px solid gray;
    
}
.other_top_Story_col1
{
    float:left;
    width:310px;
    height:200px;
    margin-left: 3px;
  
}
.first_news1
{
    width:310px;
    height:100px;
      border-bottom: 1px solid gray;
    //margin:5px;
}
.second_news1
{
    width:310px;
    height:100px;
}
#prp
{
    font-size: 20px;
    color:#4A7194;
    text-decoration: none;
}
#prp1
{
    font-size: 20px;
    color:#4A7194;
    text-decoration: none;
}


.other_top_Story_col2
{
    float:left;
    width:310px;
     height:200px;
     margin-left: 5px;
}
#prop
{
    font-size: 20px;
    color:#4A7194;
    text-decoration: none;
    word-spacing: 5px;
}
.sndcolnews
{
    height:200px;
    width:300px;
    background: #ededed;
    padding:0px 8px;
   // margin: 0px 0px 6px;
}
ul list:style
{
    text-decoration: none;
}
#header{
    //height: 20px;
    font-size:25px;
    font-weight: bold;
    color:#4A7194; 
   
}
 .fmag_news
{
    float:left;
    height:70px;
    width: 270px;
    padding:0px;
   // margin:0px;
   // border-bottom: 1px solid black;
} 
.image
{
    float:left;
    width:60px;
    height:70px;
    margin-bottom: 2px;
}
.news
{
    float:left;
    width:200px;
    height:60px;
    margin-left: 5px;
    margin-top: -30px;
}
.Advt
{
    float:left;
    width:310px;
    height:600px;
    
}
.adv_text{
    float:left;
    width:300px;
    height:30px;
    font-size:20px;
    color:black;
    //text-indent:200px;
}
.adv_image
{
    
    
   float:left;
   margin-top: 15px;
    width:250px;
    height:500px;
}
.service
{
    margin-left:315px;
    width:1000px;
    height:150px;
    border-bottom: 1px solid gray;
    
    //background:#1F4F82
}
.service_header
{
    float:left;
    width:700px;
    height:130px;
}
.service_text{
    width:680px;
    height:20px;
    font-weight: bold;
    font-size:20px;
}
.service_image{
    float:left;
    width:690px;
    height:100px;
}
.set_image{
    float: left;
    margin-top: 30px;
    margin-right: 80px;
    width:43px;
    height:80px;
    
}
.About{
    float:left;
    width:200px;
    height:150px;
}
.About_header{
    float:left;
    width:100px;
    height:30px;
    text-decoration: none;
    font-size:25px;
    color:#1F4F82;
    
}
.About_des
{
    float:left;
    width:150px;
    height:100px;
    text-decoration: none;
    color:#1F4F82;
}
.ul_footer_list1{
    margin-left: 25px;
    list-style: none;
    float: left;
}
.inner_div_footer{
    float: left; 
    font-size: 20px;
    margin-top: 50px;
}
#blog_foot{
    margin-left: 315px;
    float: left;
    width: 971px;
    height: 200px;
    //background-color: #646464;
    color: #FFF;
}
#blog_foot_img{
    margin: 40px;
    float: left;
}
#blog_foot__list{
    float: left;
    color: white;
    margin-left: 200px;
}
#blog_copy_right{
    float: left;
    margin: 40px;
    color: white;
}
a:link{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}