/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20 Jan, 2015, 11:41:12 AM
    Author     : ABC
*/


body{
    height: 100vh;
}
#change_position
{
    float: left;
    position: relative;
    top: 400px;
    left: 500px;
    height:100px;
    width:100px;
    border:2px solid gray;
    background:gray;
    
}
.settime
{
    margin:10px 0px 0px 300px;
    height:50px;
    width:1000px;
    border: 1px solid black;
    font-weight: bold;
    font-size: 20px;
    color:white;
    background: Red;
    text-indent: 30px;
}
#header
{
    //position:absolute;
    float: left;
    height:10%;
    width:100%;
    background: brown;
}
